# Server Configuration
PORT=3003
NODE_ENV=development

CHECKOUT_SUCCESS_URL=http://localhost:8080/success
CHECKOUT_CANCEL_URL=http://localhost:8080/cancel

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here
# STRIPE_CHECKOUT_LINK=https://buy.stripe.com/your_checkout_link_here
STRIPE_PRICE_ID=price_your_stripe_price_id_here

DATABASE_URL="postgres..."


# Firebase Configuration
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_PRIVATE_KEY_ID=your_firebase_private_key_id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_firebase_private_key_here\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=your_firebase_client_id
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-xxxxx%40your-project.iam.gserviceaccount.com

# JWT Configuration
JWT_SECRET=omsetokengoeshere

# Subscription Plan Configuration
PLAN_PRICE=100
PLAN_NAME=Premium VPN Service
PLAN_FEATURES=Unlimited bandwidth, Premium support, Secure & private browsing